version: "3.9"

services:
  mongo:
    container_name: mongo
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    volumes:
      - mongo-data:/data/db

  dashboardBackend:
    build: ./backend
    container_name: backend
    image: dashboard-tambang-be:latest
    env_file:
      - .env
    environment:
      MONGO_URI: ${MONGO_URI}
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo

  dashboardFrontend:
    build: ./frontend/vite-project
    container_name: frontend
    image: dashboard-tambang-fe:latest
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend/vite-project:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - dashboardBackend

volumes:
  mongo-data:
